header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.all{
    color: rgb(13, 10, 211);
    text-align: center;
}
body{
    background-color: aquamarine;
}