body{
    background-color: beige;
    text-align: center;
}

.text{
    color: #00CCFF;

}
.text3{
    color: #00CCFF;
}
.text2{
    color: #00CCFF;
}
.text4{
    color: #00CCFF;
}
.text5{
    color: #00CCFF;
}
.text6{
    color: #00CCFF;
}
.text7{
    color: red;
}
.text8{
    color: red;
}
.text9{
    color: red;
}
.text10{
    color: #00CCFF;
}


