body{
    background-color: blanchedalmond;
}

.descripcion {
    text-align: center;
}

.caracteristicas{
    text-align: center;
}

.dowload{
    text-align: center;
    border: 2px solid #000; 
    padding: 10px; 
    width: 300px; 
    margin: auto;
}

header{
    color: blue;
    text-align: center;
}

.imgs{
    text-align: center;
}